<!DOCTYPE html> {% load staticfiles %} <html lang="en">

<head>
    <title>First app is improving</title>
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/main.css" %}" />
</head>

<body>
    <section class="hero">
        <div class="hero-body">
            <h2 class="title is-3">Signing up is also available in /signup </h2>
        </div>
    </section>
    <h4>Here is the access records:</h4>
    <div class="djangtwo">
        {% if access_records %}
        <table class="table">
            <thead>
                <tr>
                    <th>Site Name</th>
                    <th>Date Accessed</th>
                </tr>
            </thead>
            {% for acc in access_records %}
            <tr>
                <td>{{ acc.name }}</td>
                <td>{{ acc.date }}</td>
            </tr> {% endfor %}
        </table> {% else %} <p>NO ACCESS RECORD FOUND!</p> {% endif %} </div>
</body>

</html>